* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);

body {
  background-color: #cc003b;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
}

header{
  text-align: center;
  padding: 20px;
  font-size: 35px;
  color: #00003b;
}

h2 {
  text-align: center;
}

nav {
	width: 100%;
	background-color: #99003b;
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #99003b;
}

.navpage {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #66003b;
}

.active {
	background-color: #66003b;
}

.left-column {
  float: left;
  width: 61.8%;
  background: #99003b;
  padding: 20px;
  text-indent: 15px;
}

.left-column img {
  width: 100%;
}

.right-column {
  float: left;
  padding: 20px;
  width: 38.2%;
  background-color: #66003b;
  text-indent: 15px;
}

.right-column img {
   width: 100%;
}

footer {
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: #99003b;
  padding: 5px;
}

/* Breadcrumbs */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: ##99003b;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Stack columns */
@media (max-width: 600px) {
  .left-column, .middle-column, .right-column {
    width: 100%;
    height: auto;
  }
}
